.flex{
	display: flex;
}
.flex-row{
	flex-direction: row;
}
.flex-column{
	flex-direction: column;
}
.flex-1{
	flex: 1 1 0%;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.items-center{
	align-items: center;
}
.block{
	display: block;
}
.bg-gray{
	background-color: #EEE;
}

/** width **/
.w-300{
	width: 300px;
}
/** height **/
.h-full{
	height: 100%;
}
/** font **/
.text-white{
	color: #FFF;
}

/** margin **/
.mt-20{
	margin-top: 20px;
}
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}
/** padding **/
.p-10{
	padding: 10px;
}
/** border **/
.rounded-md{
	border-radius: 6px
}
.rounded-full{
	border-radius: 50%;
}
.shadow-md{
	
}