.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.flex{
	display: flex;
}
.flex-row{
	flex-direction: row;
}
.flex-column{
	flex-direction: column;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-1{
	flex: 1 1 0%;
}
.justify-start{
	justify-content: flex-start;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-evenly{
	justify-content: space-evenly;
}
.items-center{
	align-items: center;
}
.block{
	display: block;
}
.bg-white{
	background-color: #FFF;
}
.bg-gray{
	background-color: #EEE;
}

/** width **/
.w-full{
	width: 100%;
}
.w-300{
	width: 600rpx;
}
/** height **/
.h-full{
	height: 100%;
}
/** font **/
.text-white{
	color: #FFF;
}

/** margin **/
.mt-20{
	margin-top: 40rpx;
}
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}
/** padding **/
.p-10{
	padding: 20rpx;
}
/** border **/
.rounded-md{
	border-radius: 12rpx
}
.rounded-full{
	border-radius: 50%;
}
.shadow-md{
	
}
/** overflow **/
.overflow-hidden{
	overflow: hidden;
}